body{
    background-color: #FBF8F4;
    overflow-x: hidden;
}

a{
   color: #97A4A2; 
   font-weight: 600;
   font-size: 20px;
   line-height: 24.38px;
   text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

input, MaskedInput{
    width: 390px;
    height: 50px;
    gap: 0px;
    border-radius: 5px;
    border: none;
    opacity: 0px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.268);
    padding-inline: 13px;
    font-size: 24px; /* Adicionado para alinhar com o placeholder */
    font-weight: 300; /* Adicionado para alinhar com o placeholder */
    line-height: 29.26px; /* Adicionado para alinhar com o placeholder */
}

input::placeholder, MaskedInput::placeholder{
    font-weight: 300;
    font-size: 24px;
    line-height: 29.26px;
    color: #97A4A2;
}

.containerr{
    background: #FBF8F4;
    width: 550px;
    height: 1024px;
    margin: 0;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
    left: 0;
    background-color: none;
    position: relative;
}

.login{
    width: 390px;
    height: 320px;
    top: 57px;
    left: 80px;
    size: content;
    z-index: 3;
    position: absolute;
}


.tituloLogin{
    font-weight: 400;
    font-size: 64px;
    line-height: 78.02px;
    color: #4b626c;
    margin-top: 0;
    margin-bottom: 71px;
    display: flex;
    align-items: center; 
    justify-content: center;
    top: 80px;
    left: 57px;
}

.inputEmail, .inputSenha {
    margin-bottom: 20px; /* Espaçamento entre os inputs */
    z-index: 3;
}

.inputEmail{
    top: 206px;
    left: 470px;
    margin-bottom: 71px;
}

.inputSenha{
    top: 327px;
    left: 470px;
}

.entrar{
    width: 40px;
    height: 26px;
    top: 445px;
    left: 436px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    color: #4B626C;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 3;
}

.entrar svg {
    width: 200%; /* Faz o ícone ocupar toda a largura do botão */
    height: 200%; /* Faz o ícone ocupar toda a altura do botão */
}

.esqueceu{
    position: absolute;
    width: 200px;
    height: 24px;
    top: 950px;
    left: 80px;
    gap: 0px;
    opacity: 0px;    
}

.criar{
    position: absolute;
    width: 117px;
    height: 24px;
    top: 926px;
    left: 80px;
    gap: 0px;
    opacity: 0px;    
}

.imagem{
    background-image: url(../../imgs/imagemPrincipal.png);
    background-size: cover;
    width: 1239px;
    height: 1239px;
    top: -140px;
    left: 404px;
    position: absolute;
    z-index: 2;
}