.container{
    height: 100vh;
    width: 100vw;
}

.NavBar{
    display: flex;
    width: 100vw;
    height: 101px;
    gap: 0px;
    opacity: 0px;
    background-color: #FBF6F0;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.268);
}

.image2{
    background-image: url(../../imgs/miniLogo.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    gap: 0px;
    opacity: 0px;
}

.botaoInvisivel{
    padding-bottom: 100px;
    padding-right: 100px;
    gap: 0px;
    opacity: 0px;
    color: #FBF6F0;
}

.buttonsTop{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    height: 40px;
    width: 90vw;
}

.lançamentos,.populares,.generos,.promoçoes,.conta{
    color: #4B626C;
    font-size: 32px;
    font-weight: 300;
    line-height: 39.01px;
    text-align: right;
}

.lançamentos{
    width: 249px;
    height: 39px;
    gap: 0px;
    opacity: 0px;
}

.populares{
    width: 190px;
    height: 39px;
    gap: 0px;
    opacity: 0px;
    border-left: 1px solid #4B626C;
}

.generos{
    width: 163px;
    height: 39px;
    gap: 0px;
    opacity: 0px;

    border-left: 1px solid #4B626C;
}

.promoçoes{
    width: 211px;
    height: 39px;
    gap: 0px;
    opacity: 0px;

    border-left: 1px solid #4B626C;
}

.conta{
    width: 126px;
    height: 39px;
    gap: 0px;
    opacity: 0px;
    border-left: 1px solid #4B626C;
}

.pesquisa{
    position: relative;
    width: 165px;
    height: 40px;
    margin-right: 20px;
}

.pesq{
    width: 165px;
    height: 40px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    background-color: #97A4A273;
    font-size: 18px; 
    font-weight: 100; 
    line-height: 29.26px; 
    padding-right: 40px;
    border: 1px solid #ccc;
}

.procurar{
    position: absolute;
    right: 22px;
    top:3px;
    width: 17px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    border: none;
    background: none;
    cursor: pointer;
    color: #000000;
}

.PassarProLado{
    display: flex;
    background: none;
    cursor: pointer;
    border: none;
    width: 51px;
    height: 88.49px;
    color:#4B626C;
}

.PassarProLado path{
    height: 100%;
    width: 100%;
}

.PassarProLado svg{
    height: 100%;
    width: 200%;
}

.procurar svg {
    width: 200%; /* Faz o ícone ocupar toda a largura do botão */
    height: 200%; /* Faz o ícone ocupar toda a altura do botão */
}

.Carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1323.39px;
    height: 480px;
    margin: 0 auto;
    margin-top: 74px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 54px;
    position: relative;
}

.jogosLaterais{
    width: 406px;
    height: 480px;
}

.DaysGone{
    background-image: url(../../imgs/DaysGone.png);
    width: 406px;
    height: 240px;
    padding: 1px;
    gap: 0px;
    border: 1px solid #FBF6F0;
    opacity: 0px;
    position: relative;
    cursor: pointer;
}

.Horizon{
    background-image: url(../../imgs/Horizon.png);
    width: 406px;
    height: 240px;
    gap: 0px;
    border: 1px solid #FBF6F0;
    opacity: 0px;
    position: relative;
    cursor: pointer;
}

.GodOfWar{
    background-image: url(../../imgs/godOfWar.png);
    width: 814px;
    height: 479px;
    gap: 0px;
    opacity: 0px;
    position: relative;
    cursor: pointer;
}

.Paginas{
    width: 119px;
    height: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-end;
    bottom: 10px;
    justify-content:space-between;
}

.Pagina{
    border-radius: 50%;
    background: #a49797;
    width: 20px;
    height: 20px;
}

.backgroud-bottom{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 46%;
    gap: 0px;
    opacity: 0px;
    background-color: #4B626C;

}

.lançamentosTitulo{
    left: 100px;
    width: 218px;
    height: 39px;
    color: #FBF8F3;
    font-size: 32px;
    font-weight: 300;
    line-height: 39.01px;
    position: relative;
    
}

.GradeJogosNovos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin: 0 20px;
}

.NovoJogo1, .NovoJogo2, .NovoJogo3, .NovoJogo4, .NovoJogo5{
    cursor: pointer;
    width: 190px;
    height: 250px;
    position: relative;

}

.NovoJogo1, .NovoJogo5{
    margin: 0 5px;
}

.NovoJogo1{
    background-image: url(../../imgs/bobEsponja.png);
}

.NovoJogo2{
    background-image: url(../../imgs/Deliver.png);
}

.NovoJogo3{
    background-image: url(../../imgs/SpellForce.png);
}

.NovoJogo4{
    background-image: url(../../imgs/DeathStranding.png);
}

.NovoJogo5{
    background-image: url(../../imgs/pErtsh.png);
    position: relative; /* Adiciona posição relativa */
}

.Carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    height: 50px; /* Ajuste o tamanho conforme necessário */
    width: 50px; /* Ajuste o tamanho conforme necessário */
    position: absolute; /* Altera para posição absoluta */
    bottom: 10px; /* Distância do fundo */
    right: 10px; /* Distância da direita */
    transform: scaleX(-1);
    cursor: pointer;
}

.Carrinho svg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    width:  41px;
}