.recuperar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 390px;
    height: 261px;
    top: 57px;
    left: 80px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    z-index: 3;
}

.tituloRecuperar{
    color:#4B626C;

    width: 333px;
    height: 156px;
    top: 57px;
    left: 109px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 55px;

    font-family: Montserrat;
    font-size: 64px;
    font-weight: 400;
    line-height: 78.02px;
    text-align: center;
    z-index: 3;
}

.emailRecuperacao{
    width: 390px;
    height: 50px;
    margin-top: 323px;
    margin-left: 80px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    z-index: 3;
}

.ent{
    width: 40px;
    height: 26px;
    top: 359px;
    left: 435px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    color: #4B626C;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 3;
}

.ent svg{
    width: 200%; /* Faz o ícone ocupar toda a largura do botão */
    height: 200%; /* Faz o ícone ocupar toda a altura do botão */
}